body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    width: 100vw;
    height: 100vh;
}
.header-bg {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
    margin-top: 80px;
}
.survey-header {
    color: #333; /* Dark text color */
    margin-bottom: 0;
}
.header-bg p {
    color: #666; /* Lighter text color */
}
.form-input {
    background-color: rgb(64, 63, 63);
    border-radius: 10px;
    color: white;
}
.submit {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 16px 8px;
    width: 80%;
    margin: 0 auto;
}
.h3-text {
    margin-bottom: 20px;
}
.form-control.gender {
    width: 30%;
}
span {
    font-weight: bold;
}
